@media screen and (max-width: 1450px) {

    .move_grid {
        top: 50%;
        left: 60% !important;
        transform: translate(-50%, -50%);
    }

}

@media screen and (max-width: 1200px) {

    .move_grid {
        top: 50%;
        left: 70% !important;
        transform: translate(-50%, -50%);
    }

}

@media screen and (max-width: 1020px) {

    .move_grid {
        /*  top: 50%; */
        left: 50% !important;
        /* transform: translate(-50%, -50%); */
    }

    .show_menu {
        left: 53% !important;
        top: 30% !important;
        transform: translate(-50%, -50%) scale(1) !important;
    }

    .fa-caret-left{
        transform: rotate(90deg) ;
    }

    .hide_menu {
        left: 51%;
        top: -10% !important;
        transform: translate(-50%, -50%)scale(0) !important;
    }

    #menu_container {
        z-index: 99;
        flex-direction: column-reverse;
    }

    #grid_container {
        flex-direction: column;
        /* transform: translate(-100px, -50%) scale(0); */
    }

    #hide_menu_btn {
        transform: rotate(270deg) translate(-10px);
    }

    button{
        transform: scale(.9);
    }

    .move_background{
        filter: brightness(.6);
        transform: translate(-49%, -50%) scale(.9) !important;
    }

    .animate_show {
        transform: rotate(90deg) translate(-10px) !important ;
    }


}




/* 


#game_container {
    padding: 2rem;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    position: relative;
    background: #ffcd71;
    transform: scale(0);
    transition: .3s;
    z-index: 99;
}

#menu_container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px dashed green;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}


.hide_menu {
    left: 45rem !important;
    top: 50% !important;
    transform: scale(0) !important;
} */