* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Geneva, Verdana, sans-serif;
}

.container {
    border: 2px dashed blue;
    width: 100vw;
    height: 100vh;
    gap: 5rem;
    position: relative;
}

.flexed {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxed {
    border: 2px solid orange;
    background: rgba(255, 166, 0, 0.555);
    padding: 2rem;
}

.menu_container {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 5rem;
    min-height: 20rem;
    text-align: center;
    background: rgb(224, 224, 224);
}

button {
    padding: 1rem;
    width: 5rem;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
}

#game_container {
    padding: 2rem;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
}


.square {
    background: white;
    transform: scale(0);
    aspect-ratio: 1;
    cursor: pointer;
    /* font-size: 60px; */
    border-radius: 15px;
    width: 100px;
    transition: .3s;
    user-select: none;
    font-size: 0;
}

.grow{
    transform: scale(1);
}

.appear{
    font-size: 3.2rem!important;
    transition: .2s;
}

.disabled {
    pointer-events: none;
    cursor: pointer;
}

.ez {
    border: 2px dashed rgb(223, 76, 179);
    background: rgba(241, 139, 156, 0.5);
}

.md {
    border: 2px dashed green;
    background: rgba(0, 128, 0, 0.5);
}

.hd {
    border: 2px dashed rgb(255, 39, 39);
    background: rgba(255, 2, 44, 0.5);
}

.diff {
    filter: brightness(.5);
    transition: .5s;
}

.intern {
    transform: scaley(-1);
}

.active {
    filter: brightness(1);

}

#notify {
    padding-top: 2rem;
    font-weight: 600;
}

.row {
    /* border: 2px dashed blue; */
    display: flex;
    justify-items: start;
    gap: 12px;
}